<div class="employees-table-wrapper">
  <ng-container *ngIf="isLoading; else tableContent">
    <p style="text-align:center; margin-top:10px;">Loading employees...</p>
  </ng-container>

  <ng-template #tableContent>
    <ng-container *ngIf="!errorMessage; else errorBlock">
      <table>
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Employee Id</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.employeeId }}</td>
            <td>{{ emp.department }}</td>
            <td>${{ emp.salary }}</td>
            <td class="actionButtons">
              <button><i class="fa-solid fa-pen-nib"></i></button>
              <button><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="!employees.length" style="text-align:center; margin-top:10px;">
        No employees found.
      </p>
    </ng-container>

    <ng-template #errorBlock>
      <p style="color:red; text-align:center;">{{ errorMessage }}</p>
    </ng-template>
  </ng-template>
</div>
